{% extends "hospital_app/base.html" %}
{% block menu %}{% include "hospital_app/menu.html" %}{% endblock %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

  {% if user.is_authenticated %}

    {% url 'ticket_add' as add_url %}
    {% include "hospital_app/search_bar.html" with add_url=add_url %}

    {% if Objects %}

      <div class="table-responsive rounded">
        <table id="user_table" class="table table-striped" data-filter-data="" data-filter-control="true">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              {% if not user.is_patient %}<th scope="col">Patient</th>{% endif %}
              {% if not user.is_doctor %}<th scope="col">Doctor</th>{% endif %}
              <th scope="col">Date</th>
              <th scope="col">Problem name</th>
              <th scope="col">Status</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody class="" style="">
            {% for o in Objects %}
              
              {% if not user.is_admin and not o.is_admin or user.is_admin %}
                {% url 'ticket' o.id as object_page %}
                <tr>
                
                  <th scope="row">
                    <a class="modal-button" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.id }}
                    </a> 
                  </th>

                  {% if not user.is_patient %}
                  <td>
                    <a class="modal-button" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.id_problem.id_user.get_full_name }}
                    </a>  
                  </td>
                  {% endif %}

                  {% if not user.is_doctor %}
                  <td>
                    <a class="modal-button" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.id_doctor.get_full_name }}
                    </a>  
                  </td>
                  {% endif %}
                  
                  <td>
                    <a class="modal-button" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.exam_date }}
                    </a>  
                  </td>

                  <td>
                    <a class="modal-button" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.id_problem.name }}
                    </a>  
                  </td>

                  <td>
                    <a class="modal-button" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.get_status }}
                    </a>  
                  </td>
                  
                  <td>
                    <a class="modal-button" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.description }}
                    </a>  
                  </td>
                  
                </tr>
              {% endif %}

            {% block modal %}{% include "hospital_app/modal_window.html" %}{% endblock %}
            {% endfor %}
            </tbody>
       </table>
     </div>
   {% else %}
     <h2 class="text-center">There are no users...</h2>
   {% endif %}

  {% endif %}

{% endblock %}