{% extends "hospital_app/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

  {% if user.is_authenticated %}

    {% if Object %}

        <!-- HEADER -->    
        <div class="modal-header">
          <h5 class="modal-title" id="title-label">Ticket no. {{ Object.id }}</h5>
          <button type="button" class="close" data-dimiss="modal" aria-label="Close">&times;</button>
        </div>

        <!-- BODY -->
        <div class="modal-body">
          <h2>{{ Object.get_status }}</h2>
        </div>

        <!-- FOOTER -->
        <div class="modal-footer">
          <a id="editButton" data-toggle="" data-target="#modalForm" data-remote="{% url 'ticket_change' Object.id %}" class="btn btn-primary active modal-button" role="button" aria-pressed="true">Edit</a>
        </div>

    {% endif %}

  {% endif %}

{% endblock %}