{% extends "hospital_app/base.html" %}
{% block menu %}{% include "hospital_app/menu.html" %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

  {% if user.is_authenticated %}
    
    {% if Object %}

    {% if user.is_admin and Object.id != user.id %}
    <div class="row ">
      <div class="col-12">
        <a id="editButton" href="{% url 'user_change' Object.id %}" class="btn btn-secondary active btn-block " role="button" aria-pressed="true">Edit</a>
      </div>
    </div>
    {% endif %}

    <div class="row d-flex align-items-center" style="height: 94vh;">
    
      <div class="col-lg-6 col-12 pl-4 " >

        <div class="card">
            <h5 class="card-header font-weight-bold">User info:</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
              {{ Object.get_full_name }}
              </li>

              <li class="list-group-item">
              {{ Object.email }}
              </li>

              <li class="list-group-item">
              {{ Object.get_role }}
              </li>
            </ul>
        </div>
        
      </div>
    
    <div class="col-lg-6 col-12 list-group pl-4 pr-4">
      {% if user.is_doctor or user.is_admin %}
      <a href="{% url 'users' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        {% if user.is_doctor %}Patients{% else %}Users{% endif %}
        <span class="badge badge-primary badge-pill">{{ users.count }}</span>
      </a>
      {% endif %}

      <a href="{% url 'problems' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        Problems
        <span class="badge badge-primary badge-pill">{{ problems.count }}</span>
      </a>

      <a href="{% url 'tickets' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        Tickets
        <span class="badge badge-primary badge-pill">{{ tickets.count }}</span>
      </a>

      <a href="{% url 'health_records' %}" class="list-group-item list-group-item-action list-group-item-action d-flex justify-content-between align-items-center">
        Health records
        <span class="badge badge-primary badge-pill">{{ health_records.count }}</span>
      </a>

      <a href="{% url 'files' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        Files
        <span class="badge badge-primary badge-pill">{{ files.count }}</span>
      </a>

      {% if user.is_insurance_worker or user.is_admin %}
      <a href="{% url 'medical_acts' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        Medical Acts
        <span class="badge badge-primary badge-pill">{{ mas.count }}</span>
      </a>
      {% endif %}

      {% if user.is_doctor or user.is_insurance_worker or user.is_admin %}
      <a href="{% url 'medical_compensations' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        Medical compensations
        <span class="badge badge-primary badge-pill">{{ mcs.count }}</span>
      </a>
      {% endif %}
    </div>

    </div>

    {% endif %}
    
  {% endif %}

{% endblock %}