{% extends "hospital_app/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

  {% if user.is_authenticated %}

    {% if Object %}

      <h2>{{ Object.name }}</h2>

      <a id="editButton" data-toggle="" data-target="#modalForm" data-remote="{% url 'problem_change' Object.id %}" class="btn btn-primary active modal-button" role="button" aria-pressed="true">Edit</a>

      {% block modal %}{% include "hospital_app/modal_window.html" %}{% endblock %}

    {% endif %}

  {% endif %}

{% endblock %}