{% extends "hospital_app/base.html" %}
{% block menu %}{% include "hospital_app/menu.html" %}{% endblock %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

  {% if user.is_authenticated %}

    {% url 'problem_add' as add_url %}
    {% include "hospital_app/search_bar.html" with add_url=add_url %}

    {% if Objects %}

      <div class="table-responsive rounded">
        <table id="user_table" class="table table-striped" data-filter-data="" data-filter-control="true">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Patient name</th>
              <th scope="col">State</th>
              <th scope="col">Description</th>
              <th scope="col">Created</th>
              <th scope="col">Modified</th>
            </tr>
          </thead>
          <tbody>
            {% for o in Objects %}
              
              {% if not user.is_admin and not o.is_admin or user.is_admin %}
                {% url 'problem' o.id as object_page %}
                <tr>
                
                  <th scope="row">
                    <a class="" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.id }}
                    </a> 
                  </th>
                  
                  <td>
                    <a class="" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.id_user.get_full_name }}
                    </a>  
                  </td>

                  <td>
                    <a class="" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.get_state }}
                    </a>  
                  </td>
                  
                  <td>
                    <a class="" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.description }}
                    </a>  
                  </td>

                  <td>
                    <a class="" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.date_created }}
                    </a> 
                  </td>

                  <td>
                    <a class="" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.date_modified}}
                    </a> 
                  </td>

                </tr>
              {% endif %}

            {% block modal %}{% include "hospital_app/modal_window.html" %}{% endblock %}
            {% endfor %}
          </tbody>
       </table>
     </div>
   {% else %}
     <h2 class="text-center">There are no problems...</h2>
   {% endif %}

  {% endif %}

{% endblock %}