{% url 'profile' user.id as current_user_profile %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}

  <nav id="navbar" class="nav navbar-expand-sm navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-column my-mt-2" id="navbarToggler">

      <div class="container-fluid text-center rounded mb-1 {% if profile_active %}active bg-primary{% else %}bg-info{% endif %}">
        <a class="nav-link text-light" href="{{ current_user_profile }}">
          <h6 class="mt-2 font-weight-bold" style="font-size: 1.1rem;">{{ user.get_short_name }}</h6>
          <h6 class="font-weight-light" style="font-size: 0.9rem;">{{ user.get_role }}</h6>
        </a>
      </div>

      <ul id="navbar_ul" class="navbar-nav flex-column nav-pills text-center" style="width: 100%;">

        <li class="nav-item mt-2 mb-1" >
          <a class="nav-link text-light p-auto {% if index_active %}active{% endif %}" href="{% url 'index' %}">Home{% if index_active %} <span class="sr-only">(current)</span>{% endif %}</a>
        </li>

        {% if not user.is_patient %}

          <li class="nav-item mb-1">
            <a class="nav-link text-light {% if users_active %}active{% endif %}" href="{% url 'users' %}">Users{% if users_active %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>

        {% endif %}

        <li class="nav-item mb-1">
          <a class="nav-link disabled" tabindex="-1" aria-disabled="true" href="#">Disabled</a>
        </li>

        {% if user.is_superuser %}

          <li class="nav-item mb-1">
            <a class="nav-link text-light {% if superuser_active %}active{% endif %}" href="{% url 'superuser' %}">Superuser{% if superuser_active %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>

        {% endif %}
      
        <li class="nav-item log-out-bottom-align">
          <a class="nav-link text-light bg-danger" data-toggle="modal" data-target="#logoutModal" href="#">Log Out</a>
        </li>

      </ul>
    </div>
  </nav>
  
<!-- Log out modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Do you really want to log out?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a type="button" class="btn btn-danger" href="{% url 'logout' %}">Yes</a>
      </div>
    </div>
  </div>
</div>

{% endif %}