{% if user.is_authenticated %}

<nav class="nav nav-pills flex-column text-light">

  <div class="container-fluid text-center">
    <h6 class="">{{ user.get_short_name }}</h6>
    <h6 class="">{{ user.get_role }}</h6>
  </div>
  
  <a class="nav-link text-light {% if index_active %}active bg-warning{% endif %}" href="{% url 'index' %}">index</a>
  <a class="nav-link text-light {% if index2_active %}active bg-warning{% endif %}" href="{% url 'index2' %}">index2</a>
  
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>

  <a class="nav-link text-light" href="{% url 'logout' %}">Log Out</a>

</nav>

{% endif %}