  {% block content%}
  {% endblock %} 
  <script>

    var url_backup;
        
    $('.modal-button').on('click', function(e) {
      var button = $(this);
      var modal = $('#modalForm');
      modal.find('.modal-content').load(button.data("remote"));
          
          if(button[0].id != "editButton"){
            url_backup = window.location.pathname;
          }

          if(button[0].id == "addButton"){
            history.pushState(null,null, 'add/');
          }
          else if(button[0].id == "editButton"){
            history.pushState(null,null, 'edit/');
          }
          else{
            history.replaceState(null,null, button.data("remote"));
          }
        });

        $('#modalForm').on('hidden.bs.modal', function(e) {
          var button = $(e.relatedTarget);
          var modal = $(this);
          window.location.pathname = url_backup;
        });

        function closeModal() {
          $('#modalForm').modal('hide');
          window.location.pathname = url_backup;
        };
  </script>