{% load crispy_forms_tags %}

{% block searchbar %}

    <form class="row">

      {% if users_active %}
      <div class="col-lg-5 col-3 pr-1">
      {% else %}
      <div class="col-lg-6 col-6 pr-1">
      {% endif %}
        {{ search_form.search|as_crispy_field }}
      </div>

      {% if users_active %}
      <div class="col-lg-2 col-3 pl-1 pr-1">
        {{ search_form.filter_field|as_crispy_field }}
      </div>
<!--FIXME: not showing -->
      <div class="col-lg-2 col-3 pl-1 pr-1">
        {{ search_form.table_field|as_crispy_field }}
      </div>
      {% endif %}

      <div class="col-lg-2 col-3 pl-1 pr-1">
        <input type="submit" class="btn btn-primary btn-block" value="Search">
      </div>

      {% if not user.is_patient%}
      <div class="col-lg-1 col-3 pl-1">
        <a id="addButton" class="btn btn-success btn-block modal-button" data-toggle="modal" data-target="#modalForm" data-remote="{{ add_url }}" role="button" aria-pressed="true">Add</a>
      </div>
      {% endif %}
   
    </form>

{% endblock %}