{% load crispy_forms_tags %}

{% block searchbar %}

    <form class="row">

      <div class="col-lg-7 col-3 pr-1">
        {{ search_form.search|as_crispy_field }}
      </div>

      <div class="col-lg-2 col-3 pl-1 pr-1">
        {{ search_form.filter_field|as_crispy_field }}
      </div>

      <div class="col-lg-2 col-3 pl-1 pr-1">
        <input type="submit" class="btn btn-primary btn-block" value="Search">
      </div>

      <div class="col-lg-1 col-3 pl-1"> <!-- FIXME:   data-toggle="modal" bypasses form field check   -->
        <a id="addButton" class="btn btn-success btn-block modal-button" data-toggle="modal" data-target="#modalForm" data-remote="{{ add_url }}" role="button" aria-pressed="true">Add</a>
        {% block modal %}{% include "hospital_app/modal_window.html" %}{% endblock %}
      </div>

    </form>

{% endblock %}