#navbar_ul {
    width: 100%;
}

@media screen and (min-width: 576px) {

    

    #navbar_collapse {
        margin-top: 5px;
    }

    .order-last-big-screen {
        -ms-flex-order: 13;
        order: 13;
    }

    .full-height-big-screen {
        height: 100vh;
    }

    .log-out-bottom-align {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 8px 8px 8px 8px;
    }

}

@media screen and (max-width: 575px) {
    #navbar {
        justify-content: flex-end; 
    }

    .my-mt-1 {
        margin-top: .25rem!important;
    }

    .my-mt-2 {
        margin-top: .5rem!important;
    }
}
