
@media screen and (min-width: 576px) {
    .order-last-big-screen {
        -ms-flex-order: 13;
        order: 13;
    }

    .full-height-big-screen {
        height: 100vh;
    }

    .log-out-bottom-align {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 8px 8px 8px 8px;
    }
}
