/* To make table scrollable inside */
.table-max-height {
    max-height: 92vh;
}

.my-table {
    max-height: inherit;
}

/* Width of menu items */
#navbar_ul {
    width: 100%;
}

/* Navbar hamburger button focus outline disable */
#navbar_button:focus, .close:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@media screen and (min-width: 576px) {
    /* Media query for menu placement - right when big screen, left (top) on mobile */
    .order-last-big-screen {
        -ms-flex-order: 13;
        order: 13;
    }
    /* Media query for elongnating view to fullscreen height */
    .full-height-big-screen {
        height: 100vh;
    }
    
    /* TODO: Not using anymore */
    .log-out-bottom-align {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 8px 8px 8px 8px;
    }

}

@media screen and (max-width: 575px) {
    /* Navbar hamburger menu to left */
    #navbar {
        justify-content: flex-end; 
    }

    .my-mt-1 {
        margin-top: .25rem!important;
    }
    
    .my-mt-2 {
        margin-top: .5rem!important;
    }
}

