{% extends "hospital_app/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

  {% if user.is_authenticated %}

    {% if Object %}

      <div class="col-lg-12 col-sm-12 col-12">
        <!-- HEADER -->    
        <div class="modal-header">
          <ul class="list-inline m-0">
            <li class="list-inline-item modal-title h5" id="title-label"> Medical act no. {{ Object.id }}</li> 
            <li class="list-inline-item font-weight-light"></li> 
          </ul>
          <button type="button" class="close" data-dimiss="modal" aria-label="Close">&times;</button>
        </div>

        <!-- BODY -->
        <div class="modal-body">
           <div class="col-12 p-0">
            <ul class="list-group-flush p-0 m-0">
              <ul class="li list-group-item pl-1 pt-1 pb-1 list-inline m-0">
                <li class="list-inline-item font-weight-bold">
                  <div class="card" style="width: 75px; border: 0px;">
                    Created:
                  </div>
                </li>
                <li class="list-inline-item">{{ Object.date_created }}</li>
              </ul>
              <ul class="li list-group-item pl-1 pt-1 pb-1 list-inline m-0">
                <li class="list-inline-item font-weight-bold">
                  <div class="card" style="width: 75px; border: 0px;">
                    Modified:
                  </div>
                </li>
                <li class="list-inline-item">{{ Object.date_modified }}</li>
              </ul>
              <ul class="li list-group-item pl-1 pt-1 pb-1 list-inline m-0 small">
                <li class="list-inline-item font-weight-bold" style="margin-right: 22px;">
                  <div class="card" style="width: 75px; border: 0px;">
                    Closed:
                  </div>
                </li>
                {% if Object.date_closed %}
                  <li class="list-inline-item">{{ Object.date_closed }}</li>
                {% endif %}
              </ul>
            </ul>
          </div>
        </div>

        <!-- FOOTER -->
        <div class="modal-footer">
          {% if user.is_doctor or user.is_admin %}
            <a id="editButton" data-toggle="" data-target="#modalForm" data-remote="{% url 'medical_act_change' Object.id %}" class="btn btn-primary active modal-button" role="button" aria-pressed="true">Edit</a>
            <a id="deleteButton" class="btn btn-danger modal-button" role="button" aria-pressed="true" href="{% url 'medical_act_delete' Object.id %}">Delete</a>
        {% endif %}
        </div>
      </div>
    {% endif %}

  {% endif %}

{% endblock %}