{% extends "hospital_app/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

  {% if user.is_authenticated %}

    <div class="container-fluid">
      <div class="row full-height-big-screen">

        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 p-2 bg-dark order-last-big-screen">
          {% include "hospital_app/menu.html" %}
        </div>

        <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 p-2 text-center">

          <div class="container">
            <div class="row justify-content-center">
              <div class="col-10">

              <h1 class="mt-3 text-center">Password change successful</h1>
              <hr class="mt-0 mb-4">

              <meta http-equiv="refresh" content="3;url={% url 'index' %}" />
              
              </div>
            </div>
          </div>

        </div>
      
      </div>
    </div>

  {% endif %}

{% endblock %}