{% extends "hospital_app/base.html" %}
{% block menu %}{% include "hospital_app/menu.html" %}{% endblock %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

  {% if user.is_authenticated %}

    {% url 'file_add' as add_url %}
    {% include "hospital_app/search_bar.html" with add_url=add_url %}
    {% include "hospital_app/modal_window.html" %}

    {% if Objects %}

      <div class="table-responsive rounded my-table">
        <table id="user_table" class="table table-striped" data-filter-data="" data-filter-control="true">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">File name</th>
              <th scope="col">Patient's name</th>
              <th scope="col">Health record ID</th>
              <th scope="col">Health record comment</th>
              <th scope="col">Problem name</th>
              <th scope="col">Description</th>
              <th scope="col">Created</th>
            </tr>
          </thead>
          <tbody>
            {% for o in Objects %}
              
              {% if not user.is_admin and not o.is_admin or user.is_admin %}
                {% url 'file' o.id as object_page %}
                <tr>
                  
                  <th scope="row">
                    <a class="modal-button" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.id }}
                    </a> 
                  </th>

                  <td>
                    <a class="modal-button" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.name }}
                    </a>  
                  </td>

                  <td>
                    <a class="modal-button" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.id_health_record.id_problem.id_user.get_full_name }}
                    </a>  
                  </td>

                  <td>
                    <a class="modal-button" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.id_health_record.id}}
                    </a>  
                  </td>

                  <td>
                    <a class="modal-button" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.id_health_record.comment|truncatechars:50 }}
                    </a>  
                  </td>

                  <td>
                    <a class="modal-button" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.id_health_record.id_problem.name|truncatechars:50 }}
                    </a>  
                  </td>

                  <td>
                    <a class="modal-button" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.description|truncatechars:100 }}
                    </a>  
                  </td>

                  <td>
                    <a class="modal-button" data-toggle="modal" data-target="#modalForm" data-remote="{{ object_page }}" role="button" aria-pressed="true">
                      {{ o.date_created }}
                    </a> 
                  </td>

                </tr>
              {% endif %}

            {% endfor %}
            
          </tbody>
       </table>
     </div>
   {% else %}
     <h2 class="text-center">There are no files...</h2>
   {% endif %}

  {% endif %}

{% endblock %}